.profile__name {
  max-width: 294px;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: .5s linear;
}

@media (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }

}
