.profile__info {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  row-gap: 16px;
  column-gap: 18px;
}

@media (max-width: 600px) {
  .profile__info {
    row-gap: 14px;
    column-gap: 10px;
  }
}
