.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #000000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  position: relative;
}

#root {
  width: 100%;
  background-color: #000000;

}