.popup__container_name_img {
  width: 100%;
  max-width: 816px;
  max-height: 562px;
  padding: 0;
  border-radius: 0;
  background: transparent;
  gap: 10px;
}


@media (max-width: 600px) {
  .popup__container {
    width: 240px;
  }
}
