.popup__container {
  width: 430px;
  min-height: 330px;
  box-sizing: border-box;
  padding: 34px 36px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: .5s linear;
}

@media (max-width: 600px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
